<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главное меню</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
</head>
<header>
    <h3 class="account">{{auth_msg}}</h3>
</header>
<body>
    <div class="main">
        <h1>Главное меню</h1>
        <a href="{{url_for('report_bp.request_report_orders')}}">Создание отчётов</a><br />
        <a href="{{url_for('report_bp.get_report_orders')}}">Просмотр отчётов</a><br />
        <a href="{{url_for('query_bp.request_products')}}">Работа с запросами</a><br />
        <a href="{{url_for('auth_bp.auth_index')}}">Авторизация</a><br />
        {% if auth_status %}
            <a href="{{url_for('exit_func')}}">Выход из системы</a> <br />
        {% endif %}
    </div>

</body>
</html>
