<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
</head>
<header>
    <a class="header" href="/">Главное меню</a>
    <h3 class="account">{{auth_msg}}</h3>
</header>
<body>
    <div class="main" style="text-align: center;">
        <h1>Введите логин и пароль</h1>
        <form action="" method="post">
            <input type="text" name="login" placeholder="Логин" required><br>
            <input type="password" name="password" placeholder="Пароль" required><br>
            <input type="checkbox" name="is_internal" id="checkbox">
            <label for"user_type" id="checkbox">Я сотрудник</label><br>
            <input type="submit" value="Войти">
        </form>
        <br />
        <a href="{{url_for('auth_bp.registration_index')}}">Зарегистрироваться</a>
    </div>
</body>
</html>
