<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <title>Input Category</title>
</head>
<header>
    <a class="header" href="/">Главное меню</a>
    <h3 class="account">{{auth_msg}}</h3>
</header>
<body>
    <h2>Ввод параметров запроса:</h2>
    <form method="POST" action="">
        <label for="prod_category" id="prod_category">Категория продуктов: </label>
        <input type="text" id="prod_category" name="prod_category" />
        <br><br>
        <input type="submit" id="prod_category" value="Получить таблицу"/>
    </form>


</body>
</html>